.container{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background-color: black;
    height: 200px;
    color: white;
}

.img_container{
    width: 250px;
    height: 150px;
    object-fit: cover;    
}

img > .img_container{
    object-fit: cover;
}

*{
    margin: 20px;
}