*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root{
    --primary-color: #fa4a0c;
    --second-color: #252b42;
    --text-color: #737373;
    --primary-size-font: 16px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

nav{
    display: flex;
    flex-basis: 600px;
}

nav.menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav.menu li{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

a:hover{
    color: var(--primary-color);
}